/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-9-name: 'about-9';
$about-9-x: 681px;
$about-9-y: 311px;
$about-9-offset-x: -681px;
$about-9-offset-y: -311px;
$about-9-width: 28px;
$about-9-height: 28px;
$about-9-total-width: 741px;
$about-9-total-height: 620px;
$about-9-image: '../images/sprite.png';
$about-9: (681px, 311px, -681px, -311px, 28px, 28px, 741px, 620px, '../images/sprite.png', 'about-9', );
$boy-name: 'boy';
$boy-x: 168px;
$boy-y: 452px;
$boy-offset-x: -168px;
$boy-offset-y: -452px;
$boy-width: 168px;
$boy-height: 168px;
$boy-total-width: 741px;
$boy-total-height: 620px;
$boy-image: '../images/sprite.png';
$boy: (168px, 452px, -168px, -452px, 168px, 168px, 741px, 620px, '../images/sprite.png', 'boy', );
$girl-name: 'girl';
$girl-x: 0px;
$girl-y: 452px;
$girl-offset-x: 0px;
$girl-offset-y: -452px;
$girl-width: 168px;
$girl-height: 168px;
$girl-total-width: 741px;
$girl-total-height: 620px;
$girl-image: '../images/sprite.png';
$girl: (0px, 452px, 0px, -452px, 168px, 168px, 741px, 620px, '../images/sprite.png', 'girl', );
$logo-small-name: 'logo-small';
$logo-small-x: 0px;
$logo-small-y: 251px;
$logo-small-offset-x: 0px;
$logo-small-offset-y: -251px;
$logo-small-width: 593px;
$logo-small-height: 201px;
$logo-small-total-width: 741px;
$logo-small-total-height: 620px;
$logo-small-image: '../images/sprite.png';
$logo-small: (0px, 251px, 0px, -251px, 593px, 201px, 741px, 620px, '../images/sprite.png', 'logo-small', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 741px;
$logo-height: 251px;
$logo-total-width: 741px;
$logo-total-height: 620px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 741px, 251px, 741px, 620px, '../images/sprite.png', 'logo', );
$radio-checked-name: 'radio-checked';
$radio-checked-x: 513px;
$radio-checked-y: 452px;
$radio-checked-offset-x: -513px;
$radio-checked-offset-y: -452px;
$radio-checked-width: 30px;
$radio-checked-height: 30px;
$radio-checked-total-width: 741px;
$radio-checked-total-height: 620px;
$radio-checked-image: '../images/sprite.png';
$radio-checked: (513px, 452px, -513px, -452px, 30px, 30px, 741px, 620px, '../images/sprite.png', 'radio-checked', );
$radio-name: 'radio';
$radio-x: 483px;
$radio-y: 452px;
$radio-offset-x: -483px;
$radio-offset-y: -452px;
$radio-width: 30px;
$radio-height: 30px;
$radio-total-width: 741px;
$radio-total-height: 620px;
$radio-image: '../images/sprite.png';
$radio: (483px, 452px, -483px, -452px, 30px, 30px, 741px, 620px, '../images/sprite.png', 'radio', );
$soc-fb-small-name: 'soc-fb-small';
$soc-fb-small-x: 681px;
$soc-fb-small-y: 340px;
$soc-fb-small-offset-x: -681px;
$soc-fb-small-offset-y: -340px;
$soc-fb-small-width: 59px;
$soc-fb-small-height: 60px;
$soc-fb-small-total-width: 741px;
$soc-fb-small-total-height: 620px;
$soc-fb-small-image: '../images/sprite.png';
$soc-fb-small: (681px, 340px, -681px, -340px, 59px, 60px, 741px, 620px, '../images/sprite.png', 'soc-fb-small', );
$soc-fb-name: 'soc-fb';
$soc-fb-x: 593px;
$soc-fb-y: 340px;
$soc-fb-offset-x: -593px;
$soc-fb-offset-y: -340px;
$soc-fb-width: 88px;
$soc-fb-height: 89px;
$soc-fb-total-width: 741px;
$soc-fb-total-height: 620px;
$soc-fb-image: '../images/sprite.png';
$soc-fb: (593px, 340px, -593px, -340px, 88px, 89px, 741px, 620px, '../images/sprite.png', 'soc-fb', );
$soc-ok-small-name: 'soc-ok-small';
$soc-ok-small-x: 681px;
$soc-ok-small-y: 251px;
$soc-ok-small-offset-x: -681px;
$soc-ok-small-offset-y: -251px;
$soc-ok-small-width: 60px;
$soc-ok-small-height: 60px;
$soc-ok-small-total-width: 741px;
$soc-ok-small-total-height: 620px;
$soc-ok-small-image: '../images/sprite.png';
$soc-ok-small: (681px, 251px, -681px, -251px, 60px, 60px, 741px, 620px, '../images/sprite.png', 'soc-ok-small', );
$soc-ok-name: 'soc-ok';
$soc-ok-x: 336px;
$soc-ok-y: 452px;
$soc-ok-offset-x: -336px;
$soc-ok-offset-y: -452px;
$soc-ok-width: 88px;
$soc-ok-height: 89px;
$soc-ok-total-width: 741px;
$soc-ok-total-height: 620px;
$soc-ok-image: '../images/sprite.png';
$soc-ok: (336px, 452px, -336px, -452px, 88px, 89px, 741px, 620px, '../images/sprite.png', 'soc-ok', );
$soc-vk-small-name: 'soc-vk-small';
$soc-vk-small-x: 424px;
$soc-vk-small-y: 452px;
$soc-vk-small-offset-x: -424px;
$soc-vk-small-offset-y: -452px;
$soc-vk-small-width: 59px;
$soc-vk-small-height: 60px;
$soc-vk-small-total-width: 741px;
$soc-vk-small-total-height: 620px;
$soc-vk-small-image: '../images/sprite.png';
$soc-vk-small: (424px, 452px, -424px, -452px, 59px, 60px, 741px, 620px, '../images/sprite.png', 'soc-vk-small', );
$soc-vk-name: 'soc-vk';
$soc-vk-x: 593px;
$soc-vk-y: 251px;
$soc-vk-offset-x: -593px;
$soc-vk-offset-y: -251px;
$soc-vk-width: 88px;
$soc-vk-height: 89px;
$soc-vk-total-width: 741px;
$soc-vk-total-height: 620px;
$soc-vk-image: '../images/sprite.png';
$soc-vk: (593px, 251px, -593px, -251px, 88px, 89px, 741px, 620px, '../images/sprite.png', 'soc-vk', );
$spritesheet-width: 741px;
$spritesheet-height: 620px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($about-9, $boy, $girl, $logo-small, $logo, $radio-checked, $radio, $soc-fb-small, $soc-fb, $soc-ok-small, $soc-ok, $soc-vk-small, $soc-vk, );
$spritesheet: (741px, 620px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
