/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-9-name: 'about-9';
$about-9-x: 681px;
$about-9-y: 396px;
$about-9-offset-x: -681px;
$about-9-offset-y: -396px;
$about-9-width: 28px;
$about-9-height: 28px;
$about-9-total-width: 761px;
$about-9-total-height: 451px;
$about-9-image: '../images/sprite.png';
$about-9: (681px, 396px, -681px, -396px, 28px, 28px, 761px, 451px, '../images/sprite.png', 'about-9', );
$boy-name: 'boy';
$boy-x: 593px;
$boy-y: 0px;
$boy-offset-x: -593px;
$boy-offset-y: 0px;
$boy-width: 168px;
$boy-height: 168px;
$boy-total-width: 761px;
$boy-total-height: 451px;
$boy-image: '../images/sprite.png';
$boy: (593px, 0px, -593px, 0px, 168px, 168px, 761px, 451px, '../images/sprite.png', 'boy', );
$girl-name: 'girl';
$girl-x: 593px;
$girl-y: 168px;
$girl-offset-x: -593px;
$girl-offset-y: -168px;
$girl-width: 168px;
$girl-height: 168px;
$girl-total-width: 761px;
$girl-total-height: 451px;
$girl-image: '../images/sprite.png';
$girl: (593px, 168px, -593px, -168px, 168px, 168px, 761px, 451px, '../images/sprite.png', 'girl', );
$logo-middle-name: 'logo-middle';
$logo-middle-x: 0px;
$logo-middle-y: 201px;
$logo-middle-offset-x: 0px;
$logo-middle-offset-y: -201px;
$logo-middle-width: 443px;
$logo-middle-height: 150px;
$logo-middle-total-width: 761px;
$logo-middle-total-height: 451px;
$logo-middle-image: '../images/sprite.png';
$logo-middle: (0px, 201px, 0px, -201px, 443px, 150px, 761px, 451px, '../images/sprite.png', 'logo-middle', );
$logo-small-name: 'logo-small';
$logo-small-x: 0px;
$logo-small-y: 351px;
$logo-small-offset-x: 0px;
$logo-small-offset-y: -351px;
$logo-small-width: 295px;
$logo-small-height: 100px;
$logo-small-total-width: 761px;
$logo-small-total-height: 451px;
$logo-small-image: '../images/sprite.png';
$logo-small: (0px, 351px, 0px, -351px, 295px, 100px, 761px, 451px, '../images/sprite.png', 'logo-small', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 593px;
$logo-height: 201px;
$logo-total-width: 761px;
$logo-total-height: 451px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 593px, 201px, 761px, 451px, '../images/sprite.png', 'logo', );
$radio-checked-name: 'radio-checked';
$radio-checked-x: 532px;
$radio-checked-y: 290px;
$radio-checked-offset-x: -532px;
$radio-checked-offset-y: -290px;
$radio-checked-width: 30px;
$radio-checked-height: 30px;
$radio-checked-total-width: 761px;
$radio-checked-total-height: 451px;
$radio-checked-image: '../images/sprite.png';
$radio-checked: (532px, 290px, -532px, -290px, 30px, 30px, 761px, 451px, '../images/sprite.png', 'radio-checked', );
$radio-name: 'radio';
$radio-x: 502px;
$radio-y: 290px;
$radio-offset-x: -502px;
$radio-offset-y: -290px;
$radio-width: 30px;
$radio-height: 30px;
$radio-total-width: 761px;
$radio-total-height: 451px;
$radio-image: '../images/sprite.png';
$radio: (502px, 290px, -502px, -290px, 30px, 30px, 761px, 451px, '../images/sprite.png', 'radio', );
$soc-fb-small-name: 'soc-fb-small';
$soc-fb-small-x: 531px;
$soc-fb-small-y: 201px;
$soc-fb-small-offset-x: -531px;
$soc-fb-small-offset-y: -201px;
$soc-fb-small-width: 59px;
$soc-fb-small-height: 60px;
$soc-fb-small-total-width: 761px;
$soc-fb-small-total-height: 451px;
$soc-fb-small-image: '../images/sprite.png';
$soc-fb-small: (531px, 201px, -531px, -201px, 59px, 60px, 761px, 451px, '../images/sprite.png', 'soc-fb-small', );
$soc-fb-name: 'soc-fb';
$soc-fb-x: 295px;
$soc-fb-y: 351px;
$soc-fb-offset-x: -295px;
$soc-fb-offset-y: -351px;
$soc-fb-width: 88px;
$soc-fb-height: 89px;
$soc-fb-total-width: 761px;
$soc-fb-total-height: 451px;
$soc-fb-image: '../images/sprite.png';
$soc-fb: (295px, 351px, -295px, -351px, 88px, 89px, 761px, 451px, '../images/sprite.png', 'soc-fb', );
$soc-ok-small-name: 'soc-ok-small';
$soc-ok-small-x: 681px;
$soc-ok-small-y: 336px;
$soc-ok-small-offset-x: -681px;
$soc-ok-small-offset-y: -336px;
$soc-ok-small-width: 60px;
$soc-ok-small-height: 60px;
$soc-ok-small-total-width: 761px;
$soc-ok-small-total-height: 451px;
$soc-ok-small-image: '../images/sprite.png';
$soc-ok-small: (681px, 336px, -681px, -336px, 60px, 60px, 761px, 451px, '../images/sprite.png', 'soc-ok-small', );
$soc-ok-name: 'soc-ok';
$soc-ok-x: 443px;
$soc-ok-y: 201px;
$soc-ok-offset-x: -443px;
$soc-ok-offset-y: -201px;
$soc-ok-width: 88px;
$soc-ok-height: 89px;
$soc-ok-total-width: 761px;
$soc-ok-total-height: 451px;
$soc-ok-image: '../images/sprite.png';
$soc-ok: (443px, 201px, -443px, -201px, 88px, 89px, 761px, 451px, '../images/sprite.png', 'soc-ok', );
$soc-vk-small-name: 'soc-vk-small';
$soc-vk-small-x: 443px;
$soc-vk-small-y: 290px;
$soc-vk-small-offset-x: -443px;
$soc-vk-small-offset-y: -290px;
$soc-vk-small-width: 59px;
$soc-vk-small-height: 60px;
$soc-vk-small-total-width: 761px;
$soc-vk-small-total-height: 451px;
$soc-vk-small-image: '../images/sprite.png';
$soc-vk-small: (443px, 290px, -443px, -290px, 59px, 60px, 761px, 451px, '../images/sprite.png', 'soc-vk-small', );
$soc-vk-name: 'soc-vk';
$soc-vk-x: 593px;
$soc-vk-y: 336px;
$soc-vk-offset-x: -593px;
$soc-vk-offset-y: -336px;
$soc-vk-width: 88px;
$soc-vk-height: 89px;
$soc-vk-total-width: 761px;
$soc-vk-total-height: 451px;
$soc-vk-image: '../images/sprite.png';
$soc-vk: (593px, 336px, -593px, -336px, 88px, 89px, 761px, 451px, '../images/sprite.png', 'soc-vk', );
$spritesheet-width: 761px;
$spritesheet-height: 451px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($about-9, $boy, $girl, $logo-middle, $logo-small, $logo, $radio-checked, $radio, $soc-fb-small, $soc-fb, $soc-ok-small, $soc-ok, $soc-vk-small, $soc-vk, );
$spritesheet: (761px, 451px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
