@charset "UTF-8";

@font-face {
    font-family: 'Shadow';
    src: url('../fonts/Shadow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$mainFontFamily: 'Helvetica Neue', Helvetica, sans-serif;
$shadow: 'Shadow', sans-serif;

//
//colors
//

$blue: #044073;
$blue-light: #1162a7;
$text: $blue;

//
//medias
//

$mid-height: 900px;
$min-height: 760px;

//@media #{$media-xs-max} {
// 	background: red;
//}

$media-xs-max: "only screen and (max-width : 320px)";
$media-xs-min: "only screen and (min-width : 320px)";

$media-s-max: "only screen and (max-width : 480px)";
$media-s-min: "only screen and (min-width : 480px)";

$media-m-max: "only screen and (max-width : 768px)";
$media-m-min: "only screen and (min-width : 768px)";

$media-l-max: "only screen and (max-width : 992px)";
$media-l-min: "only screen and (min-width : 992px)";

$media-xl-max: "only screen and (max-width : 1024px)";
$media-xl-min: "only screen and (min-width : 1024px)";

$media-xxl-max: "only screen and (max-width : 1366px)";
$media-xxl-min: "only screen and (min-width : 1366px)";
